@font-face {
  font-family: Corbel;
  src: url(/public/assets/fonts/CORBEL.TTF);
}

@font-face {
  font-family: GillSans;
  src: url(/public/assets/fonts/GillSans.ttf);
}

@font-face {
  font-family: GillSansMedium;
  src: url(/public/assets/fonts/GillSansMedium.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bgImage {
  height: 100vh;
  background-image: url("/public/assets/images/cover.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.nav {
  position: fixed;
  width: 100%;
  height: 10vh;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
}

.nav .navLogo {
  width: 45%;
  font-size: 30px;
  padding-left: 20px;
}

.nav .navLogo p a {
  color: #ffffff;
  text-decoration: none;
}

.nav .navLinks {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav .navLinks li {
  list-style-type: none;
}

.nav .navLinks li a {
  color: #ffffff;
  text-decoration: none;
}

.navChange {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.titleContainer {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titleContainer h1 {
  font-family: Corbel;
  font-weight: 500;
  width: 43%;
  font-size: 50px;
  color: #ffffff;
  border: 4px solid #8fd18a;
  text-align: center;
  padding: 20px 15px;
  margin-bottom: 40px;
}

.titleContainer h1 span {
  font-weight: bold;
}

.titleContainer p {
  font-family: Corbel;
  width: 40%;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}

.titleContainer a {
  padding: 10px 40px;
  margin-top: 50px;
  text-transform: uppercase;
  color: #323232;
  font-family: Corbel;
  text-decoration: none;
  border-radius: 25px;
  border: 2px solid #323232;
  background: none;
}

.titleContainer a:hover {
  border-radius: 25px;
  border: 2px solid #ffffff;
  background: none;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sectionTitle, .featuredWork h2, .contactMe .contactContainer h2 {
  width: 84.34%;
  text-transform: uppercase;
  border-left: 4px solid #8fd18a;
  font-size: 40px;
  padding-left: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.aboutMe {
  height: auto;
  padding: 120px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.aboutMe .detailContainer {
  width: 66.66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10.66%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-item-align: center;
      align-self: center;
}

.aboutMe .detailContainer .aboutInfo {
  height: 73vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 84.34%;
  font-size: 20px;
  padding-left: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.aboutMe .detailContainer .aboutInfo p {
  font-family: GillSans;
}

.aboutMe .detailContainer .aboutInfo .aboutInfoSpan {
  font-weight: bold;
}

.aboutMe .detailContainer .btn {
  width: 25%;
  padding: 1.5vh 0vh;
  font-family: GillSans;
  background-color: #323232;
  border: none;
  margin-left: 22px;
  margin-top: 20px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.aboutMe .imgContainer {
  width: 33.33%;
  background-image: url("/public/assets/images/profile.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.skillsContainer {
  width: 100%;
  height: 50vh;
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillsContainer div {
  height: 35vh;
  width: 16.66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featuredWork {
  padding-top: 120px;
}

.featuredWork h2 {
  margin-left: 10.66%;
  margin-bottom: 30px;
}

.cardsContainer {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardsContainer .cards {
  overflow: hidden;
  cursor: pointer;
}

.cardsContainer .cards img {
  height: 41vh;
  margin: 0px 2px;
}

.cardsContainer .cards img:hover {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contactMe {
  padding-top: 120px;
  padding-bottom: 8vh;
}

.contactMe .contactContainer {
  width: 100%;
  padding-left: 10.66%;
}

.contactMe .contactContainer div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactMe .contactContainer div .contactDetails {
  width: 45%;
  height: 17vh;
  padding-left: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contactMe .contactContainer div .contactDetails p {
  font-family: GillSansMedium;
  font-size: 20px;
}

.contactMe .contactContainer div .contactDetails p .emailLabel {
  font-weight: bold;
}

.contactMe .contactContainer div .contactDetails p .emailAddress {
  text-decoration: underline;
}

.contactMe .contactContainer div .contactLocation {
  width: 55%;
  height: auto;
}

.contactMe .contactContainer div .contactLocation iframe {
  border: 0;
}

@media only screen and (max-width: 390px) {
  .nav {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav .navLinks {
    width: 80%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .titleContainer h1 {
    width: 80%;
    font-size: 50px;
  }
  .titleContainer p {
    width: 60%;
  }
  .sectionTitle, .featuredWork h2, .contactMe .contactContainer h2 {
    font-size: 30px;
  }
  .aboutMe {
    height: auto;
    padding: 80px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutMe .detailContainer {
    width: 90%;
    padding-left: 0;
  }
  .aboutMe .detailContainer .aboutInfo {
    width: 100%;
    height: auto;
  }
  .aboutMe .detailContainer .btn {
    width: 45%;
    padding: 1.8vh 0vh;
  }
  .skillsContainer {
    height: 30vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .featuredWork {
    width: 100%;
    padding-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .featuredWork .projectsContainer {
    width: 90%;
  }
  .featuredWork .projectsContainer h2 {
    margin-left: 0px;
  }
  .featuredWork .projectsContainer .cardsContainer {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .featuredWork .projectsContainer .cardsContainer .cards {
    margin: 7px 0px;
  }
  .featuredWork .projectsContainer .cardsContainer .cards img {
    height: 28vh;
    border-radius: 15px;
  }
  .featuredWork .projectsContainer .cardsContainer .cards img:hover {
    -webkit-filter: none;
            filter: none;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
  }
  .contactMe {
    height: auto;
    width: 100%;
    padding-top: 73px;
    padding-bottom: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactMe .contactContainer {
    width: 90%;
    padding-left: 0;
  }
  .contactMe .contactContainer div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactMe .contactContainer div .contactDetails {
    width: 100%;
    height: 17vh;
    padding-left: 22px;
  }
  .contactMe .contactContainer div .contactDetails p {
    font-family: GillSansMedium;
    font-size: 20px;
  }
  .contactMe .contactContainer div .contactDetails p .emailLabel {
    font-weight: bold;
  }
  .contactMe .contactContainer div .contactDetails p .emailAddress {
    text-decoration: underline;
  }
  .contactMe .contactContainer div .contactDetails div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contactMe .contactContainer div .contactLocation {
    width: auto;
    height: auto;
  }
  .contactMe .contactContainer div .contactLocation iframe {
    width: 100%;
    border-radius: 15px;
  }
}
/*# sourceMappingURL=styles.css.map */