@font-face {
    font-family: Corbel;
    src: url(/public/assets/fonts/CORBEL.TTF);
}

@font-face {
    font-family: GillSans;
    src: url(/public/assets/fonts/GillSans.ttf);
}

@font-face {
    font-family: GillSansMedium;
    src: url(/public/assets/fonts/GillSansMedium.ttf);
}

$borderGreen: #8fd18a;
$grey: #323232;
$white: #ffffff;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bgImage {
    height: 100vh;
    background-image: url('/public/assets/images/cover.jpg');
    background-position: center;
    background-size:cover;
    position: relative;
}

.nav {
    position: fixed;
    width: 100%;
    height: 10vh;
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    backdrop-filter: blur(2px);
    transition: all 0.5s;
    z-index: 1;

    .navLogo {
        width: 45%;
        font-size: 30px;
        padding-left: 20px;

        p a {
            color: $white;
            text-decoration: none;
        }
    }

    .navLinks {
        width: 55%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        li {
            list-style-type: none;
            
            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}

.navChange {
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.5s;
}

.titleContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-family: Corbel;
        font-weight: 500;
        width: 43%;
        font-size: 50px;
        color: $white;
        border: 4px solid $borderGreen;
        text-align: center;
        padding: 20px 15px;
        margin-bottom: 40px;

        span {
            font-weight:bold;
        }
    }

    p {
        font-family: Corbel;
        width: 40%;
        color: $white;
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
    }

    a {
        padding: 10px 40px;
        margin-top: 50px;
        text-transform: uppercase;
        color: $grey;
        font-family: Corbel;
        text-decoration: none;
        border-radius: 25px;
        border: 2px solid $grey;
        background: none;
    }

    a:hover {
        border-radius: 25px;
        border: 2px solid $white;
        background: none;
        color: $white;
        transition: all 0.5s;
    }
}

// -------------------------

.sectionTitle {
    width: 84.34%;
    text-transform: uppercase;
    border-left: 4px solid $borderGreen;
    font-size: 40px;
    padding-left: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}

// -------------------------

.aboutMe {
    height: auto;
    padding: 120px 0px;
    display: flex;
    flex-direction: row;

    .detailContainer {

        width: 66.66%;
        display: flex;
        flex-direction: column;
        padding-left: 10.66%;
        justify-content: start;
        align-self: center;

        .aboutInfo {
            height: 73vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 84.34%;
            font-size: 20px;
            padding-left: 22px;
            padding-top: 10px;
            padding-bottom: 10px;

            p {
                font-family: GillSans;
            }

            .aboutInfoSpan {
                font-weight: bold;
            }
        }

        .btn {
            width: 25%;
            padding: 1.5vh 0vh;
            font-family: GillSans;
            background-color: $grey;
            border: none;
            margin-left: 22px;
            margin-top: 20px;
            color: $white;
            text-decoration: none;
            text-align: center;
            cursor: pointer;

        }
    }

    .imgContainer {
        width: 33.33%;
        background-image: url('/public/assets/images/profile.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.skillsContainer {
    width: 100%;
    height: 50vh;
    background-color: $grey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    div {
        height: 35vh;
        width: 16.66%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

//-----------------

.featuredWork {
    padding-top: 120px;

    h2 {
        @extend .sectionTitle;
        margin-left: 10.66%;
        margin-bottom: 30px;
    }
}

.cardsContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .cards {
        overflow: hidden;
        cursor: pointer;
    
        img {
            height: 41vh;
            margin: 0px 2px;
        }
    
        img:hover {
            filter: blur(2px);
            transform: scale(1.1);
            transition: all 0.5s ease-in-out;
        }
    }
}

// .projectView {
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.6);
//     position: absolute;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     img {
//         height: 130vh;
//         width: 130vh;
//         position: absolute;
//         height: auto;
//     }
// }

//-----------------

.contactMe {
    padding-top: 120px;
    padding-bottom: 8vh;

    .contactContainer {
        width: 100%;
        padding-left: 10.66%;
        
        h2 {
            @extend .sectionTitle;
        }

        div {
            width: 100%;
            display: flex;

            .contactDetails {
                width: 45%;
                height: 17vh;
                padding-left: 22px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
    
                p {
                    font-family: GillSansMedium;
                    font-size: 20px;
    
                    .emailLabel {
                        font-weight: bold;
                    }
    
                    .emailAddress {
                        text-decoration: underline;
                    }
                }
            }
    
            .contactLocation {
                width: 55%;
                height: auto;
    
                iframe {
                    border: 0;
                }
            }
        }

    }
}

//----------------- Media Queries iPhone 12 PRO

@media only screen and (max-width: 390px) {

    .nav {
        width: 100%;
        justify-content: center;

        .navLinks {
            width: 80%;
            justify-content: space-around;
        }
    }
    
    //-----------------

    .titleContainer {
    
        h1 {
            width: 80%;
            font-size: 50px;
        }
    
        p {
            width: 60%;
        }
    }

    //-----------------

    .sectionTitle {
        font-size: 30px;
    }

    //-----------------

    .aboutMe {
        height: auto;
        padding: 80px 0px;
        justify-content: center;
    
        .detailContainer {
    
            width: 90%;
            padding-left: 0;
    
            .aboutInfo {
                width: 100%;
                height: auto;
            }
    
            .btn {
                width: 45%;
                padding: 1.8vh 0vh;
    
            }
        }
    }

    //-----------------

    .skillsContainer {
        height: 30vh;
        justify-content: space-around;
    }

    //-----------------

    .featuredWork {
        width: 100%;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .projectsContainer {
            width: 90%;

            h2 {
                margin-left: 0px;
            }

            .cardsContainer {
                width: 100%;
                flex-direction: column;
                align-items: center;

                .cards {
                    margin: 7px 0px;
                
                    img {
                        height: 28vh;
                        border-radius: 15px;
                    }
                
                    img:hover {
                        filter: none;
                        transform: none;
                        transition: none;
                    }
                }
            }
        }
    }

    //-----------------

    .contactMe {
        height: auto;
        width: 100%;
        padding-top: 73px;
        padding-bottom: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .contactContainer {
            width: 90%;
            padding-left: 0;
    
            div {
                width: 100%;
                display: flex;
                flex-direction: column;
    
                .contactDetails {
                    width: 100%;
                    height: 17vh;
                    padding-left: 22px;
        
                    p {
                        font-family: GillSansMedium;
                        font-size: 20px;
        
                        .emailLabel {
                            font-weight: bold;
                        }
        
                        .emailAddress {
                            text-decoration: underline;
                        }
                    }

                    div {
                        display: flex;
                        flex-direction: row;
                    }
                }
        
                .contactLocation {
                    width: auto;
                    height: auto;
        
                    iframe {
                        width: 100%;
                        border-radius: 15px;
                    }
                }
            }
    
        }
    }

}