@font-face {
    font-family: Corbel;
    src: url(/public/assets/fonts/CORBEL.TTF);
}

$borderGreen: #8fd18a;
$grey: #323232;
$white: #ffffff;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bgImage {
    height: 100vh;
    background-image: url('/public/assets/images/cover.jpg');
    background-position: center;
    background-size:cover;
    position: relative;
}

.nav {
    position: fixed;
    width: 100%;
    height: 10vh;
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    backdrop-filter: blur(2px);
    transition: all 0.5s;

    .navLogo {
        width: 45%;
        font-size: 30px;
        padding-left: 20px;

        p a {
            color: $white;
            text-decoration: none;
        }
    }

    .navLinks {
        width: 55%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        li {
            list-style-type: none;
            
            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}

.navChange {
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.5s;
}

.titleContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-family: Corbel;
        font-weight: 500;
        width: 33%;
        font-size: 50px;
        color: $white;
        border: 4px solid $borderGreen;
        text-align: center;
        padding: 20px 15px;
        margin-bottom: 40px;

        span {
            font-weight:bold;
        }
    }

    p {
        font-family: Corbel;
        width: 40%;
        color: $white;
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
    }

    a {
        padding: 10px 40px;
        margin-top: 50px;
        text-transform: uppercase;
        color: $grey;
        font-family: Corbel;
        text-decoration: none;
        border-radius: 25px;
        border: 2px solid $grey;
        background: none;
    }

    a:hover {
        border-radius: 25px;
        border: 2px solid $white;
        background: none;
        color: $white;
        transition: all 0.5s;
    }
}

// -------------------------

.aboutMe {
    height: 80vh;
    display: flex;
    flex-direction: row;

    .detailContainer {

        width: 66.66%;
        display: flex;
        flex-direction: column;
        padding-left: 10.66%;
        justify-content: start;
        align-self: center;

        .aboutInfo {
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 84.34%;
            font-size: 20px;
            padding-left: 22px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .btn {
            height: 6vh;
            width: 25%;
            background-color: $grey;
            border: none;
            color: $white;
            margin-left: 22px;
            margin-top: 20px;
            cursor: pointer;
        }
    }

    .imgContainer {
        width: 33.33%;
        background-image: url('/public/assets/images/4a.png');
        background-position: center;
        background-size: cover;
    }
}

.sectionTitle {
    width: 84.34%;
    text-transform: uppercase;
    border-left: 4px solid $borderGreen;
    font-size: 40px;
    padding-left: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.skillsContainer {
    width: 100%;
    height: 50vh;
    background-color: $grey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    div {
        height: 35vh;
        width: 16.66%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

//-----------------

.projectsContainer {

    padding-top: 120px;

    h2 {
        @extend .sectionTitle;
        margin-left: 10.66%;
    }
}

.contactSection {
    padding-top: 120px;

    h2 {
        @extend .sectionTitle;
        margin-left: 10.66%;
    }
}